@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro&display=swap');

html {
    font-family: 'Source Sans Pro', sans-serif;
}
.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: #fde047;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    position: relative;
}

.toggle-read {
    border: 0px;
    background-color: #16a34a ;
    color: white;
    padding: 5px;
}

.status {
    position: absolute;
    width: 100px;
    right: 10;
    bottom: 10;
}

.status:hover {
    opacity: 0.8;
}

.toggle-read--active {
    background-color: white;
    color: #15803d;
    font-weight: bold;
}

.delete {
    width: 18px;
    position: absolute;
    top: 5;
    right: 5;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border: 0px;
}

.add:hover {
    background-color: #e4e4e7;
}

form {
    display: none;
    
}

.form--show {
    position: fixed;
    z-index: 2;
    background-color: #fde047;
    padding: 30px;
    top: 30%;
    left: 42%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#read {
    margin: 0px;
    padding: 0px;
    width: 10px;
}

.checkbox-container {
    display: flex;
    gap: 5px;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.5;
}

.overlay--active {
    display: block;
}

.book-add {
    border: 0px;
    background-color: #16a34a ;
    color: white;
    padding: 8px;
    font-size: 0.8em;
    position: absolute;
    width: 100px;
    right: 10;
    bottom: 10;
}

input {
    border: 0px;
    padding: 8px;
    font-size: 1em;
}

.title, .author, .pages {
    background-color: white;
    margin: 8px 5px 5px 0px;
    padding: 5px;
    font-size: 1.2em;
    width: fit-content;
    word-break: break-all;
}

.header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    background-color: #ea580c;
    color: white;
    padding: 20px;
}